html {
    --color-primary: rgb(22, 106, 190);
    --color-secondary: rgb(86, 0, 0);
    --color-background: rgb(255, 255, 250);
    --color-text: rgb(0, 0, 0);
}

body {
    font-family: 'Ink Free', 'Bradley Hand', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background-color: var(--color-background);
  
    font-size: 14pt;
  
    padding: 0.5em;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }